<div class="map" 
     leaflet
     [leafletOptions]="leafletOptions"
     [leafletBaseLayers]="baseLayers"
     [leafletLayersControlOptions]="layersControlOptions"
     (leafletMapReady)="onMapReady($event)">
     <ng-template #homeMenuButtons>
         <a routerLinkActive="active" routerLink="/stop-point-rating" class="item"><img src="icons/rate.png" height="35px"
                 width="30px" alt="go to rate page"></a>
         <a routerLinkActive="active" routerLink="/stop-point-rank" class="item"><img src="icons/rank.png" height="35px"
                 width="30px" alt="go to ranking page"></a>
         <a routerLinkActive="active" class="item" routerLink="/user-information">
             <img src="icons/user-info.png" height="35px" width="30px" alt="go to user information page"></a>
     </ng-template>
</div>
