<mat-card>
    <mat-card-title>Informações</mat-card-title>
    <mat-card-content>

        @if (userInfo$ | async; as form) {
        <form [formGroup]="form" class="info__forms" (ngSubmit)="submit(form)">
            <p>
                <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput formControlName="Nome">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
                    <mat-label>Apelido</mat-label>
                    <input type="text" matInput formControlName="NickName">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field [floatLabel]="'always'">
                    <mat-label>Telefone</mat-label>
                    <input type="number" matInput formControlName="PhoneNumber">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="Email">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
                    <mat-label>Nova Senha</mat-label>
                    <input type="password" matInput formControlName="newPassword">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
                    <mat-label>Senha Atual</mat-label>
                    <input type="password" matInput formControlName="currentPassword">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div style="display: flex; justify-content: space-between;">
                <div class="button">
                    <button type="submit" mat-button routerLink="/home">Voltar</button>
                </div>

                <div class="button">
                    <button type="button" mat-button (click)="logout()">Logout</button>
                </div>

                <div class="button">
                    <button type="submit" mat-button>Atualizar</button>
                </div>
            </div>

        </form>
        } @else{
        <div class="info__forms--loading">
            <app-loading-spinner class="info__spinner"></app-loading-spinner>

            <p class="info__input--loading">
                &nbsp;
            </p>
            <p class="info__input--loading">
                &nbsp;
            </p>
            <p class="info__input--loading">
                &nbsp;
            </p>
            <p class="info__input--loading">
                &nbsp;
            </p>
            <p class="info__input--loading">
                &nbsp;
            </p>
        </div>
        }
    </mat-card-content>
</mat-card>