<div class="formCadastro">
  <mat-card>
    <mat-card-title>Adicionar ponto de parada</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="hidden" name="longitude" [value]="longitude">
        <input type="hidden" name="latitude" [value]="latitude">
        <p class="input-wrapper ">
          Latitude {{latitudePrint}} Longitude {{longitudePrint}}
        </p>
          <p class="input-wrapper">
            <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
                <mat-label>Nome do ponto</mat-label>
                <input placeholder="Centro de Inovação" matInput type="text" formControlName="pointName">
            </mat-form-field>
          </p>
          <p class="input-wrapper">
            <mat-form-field [floatLabel]="'always'">
                <mat-label>Descrição</mat-label>
                <textarea placeholder="Digite as informações do Ponto de parada" matInput formControlName="descPoint"></textarea>
            </mat-form-field>
          </p>
          <!-- <p class="input-wrapper">
            <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'always'">
                <input type="file" formControlName="pointName">
            </mat-form-field>
          </p> -->
          <p *ngIf="error" class="error">
            {{ error }}
        </p>
        <div class="options">
          <div class="button">
            <button class="option--forms__login" (click)="close()"
            mat-button>
            <img src="icons/return.png" width="50px"
            alt="go to rate page">    
          </button>
        </div>
        <div class="button">
            <button class="option--forms__login" type="submit" mat-button>
              <img src="icons/ok.png" width="50px" alt="go to user information page">    
            </button>
        </div>
        </div>
        </form>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>