:host {

    .navbar--bottom {
        background: #B9371C;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

    }

    .sticky {
        position: fixed;
        bottom: 0;
        width: 100vw;
        z-index: 1000;
    }

}